.tableContainer {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #fff;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.title h3 {
  font-weight: 600;
}

.title button {
  padding: 0.5rem;
  border: 1px solid #22ca80;
  color: #22ca80;
  border-radius: 4px;
}
.title button:hover {
  color: #fff;
  background-color: #22ca80;
}

.title button:active {
  background-color: #22ca81cb;
  border: 1px solid #22ca81cb;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 1rem;
  text-align: start;
  vertical-align: top;
  font-weight: 500;
  font-size: 15px;
}
.table th {
  color: #808891;
  font-weight: 600;
}
.body tr {
  border: 1px solid #dee2e6;
}

.body tr:nth-child(odd) {
  background-color: #edf2ff;
}

.body img {
  display: block;
  max-width: 100px;
}

.body td:last-child {
  display: flex;
  gap: 5px;
  border: none;
}
