.navContainer {
  background-color: #00695c;
  color: #f6f5f5;
  font-style: italic;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  font-size: 20px;
  border: double #f6f5f5;
  padding: 12px;
  font-weight: 500;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.navbar a {
  text-decoration: none;
  font-weight: 400;
  color: #f6f5f5;
}
.navbar button {
  font-style: italic;
  color: #f6f5f5;
}

.navbar button:hover {
  color: #ffbc28;
}

.navbar a:hover {
  cursor: pointer;
  color: #ffbc28;
}

a.active {
  color: #ffbc28;
}
