@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 16px;
  background-color: #fff;
}

.container {
  width: 1320px;
  margin: auto;
}

.btn {
  border: none;
  font-size: 16px;
  background-color: inherit;
}
